.about-content {
  margin: 0 auto;
  color: white;
  background-color: $color-background;
  font-size: 1.5em;
  margin-top: 3em;
  border-radius: 1em;
  width: 55%;
  text-align: center;
  min-width:11em;
  max-width: 30em;
  padding: 2em;
}
