body {
  h2 {
    text-align: center;
    color: $color-primary;
  }
}
td{
  padding: 1em;
  color: $color-secondary;
}
.svg {
  font-size: 0.4em;
}
.main-content {
  margin: 0 auto;
  max-width: 40em;
  width: 96%;
  position: relative;
  display: block;
  text-align: center;
  margin-bottom: 2em;
}
.stats-column {
  border-radius: 1em;
  text-align: center;
  padding: 3%;
  h3{
    color: $color-primary;
  }
}
.column-3 {
  width: 30%;
}
.column-2 {
  width: 91%;
  margin: 1.5%;
  margin-top: 2.5em;
}
.column-1 {
  width: 91%;
  margin: 3% 1.5%;
  display: inline-block;
  color: $color-primary;
  text-align: center;
}
.selection-column {
  margin-top: 8em;
  margin-left: 4%;
  margin-right: 4%;
  background: linear-gradient( 0deg, $color-background, $color-primary ); 
  h2 {
    color: white;
  }
  ul{
    background: white;
    border-radius: 1em;
  }
  
}
.box-shadow{
  box-shadow: -3px 5px 16px #888888;
}

@include breakpoint(45em, $no-query) {
  .stats-column{
    display: inline-block;
    float: left;    
  }
  .selection-column {
    width: 36%;
  }
  .column-2 {
    width: 41%;
  }
}