html {
  background-image:url('grain.png'); 
}
html, body {
  height: 100%;
}
ul{
  list-style-type: none;
}
body {
  h2 {
    text-align: center;
    color: $color-primary;
  }
}
td{
  padding: 1em;
  color: $color-secondary;
}
.svg {
  font-size: 0.4em;
}
.main-content {
  margin: 0 auto;
  max-width: 40em;
  width: 96%;
  position: relative;
  display: block;
  text-align: center;
  margin-bottom: 2em;
}
.stats-column {
  border-radius: 1em;
  display: inline-block;
  float: left;
  text-align: center;
  padding: 3%;
  h3{
    color: $color-primary;
  }
}
.column-3 {
  width: 30%;
}
.column-2 {
  width: 41%;
  margin: 1.5%;
}
.column-1 {
  width: 91%;
  margin: 3% 1.5%;
  display: inline-block;
  color: $color-primary;
  text-align: center;
}
.selection-column {
  width: 36%;
  margin: 4%;
}
.box-shadow{
  box-shadow: -3px 5px 16px #888888;
}