button, a {
  background: none;
  border: none;
  text-decoration: none;
  color: $color-secondary;
}
.button-main {
  border: solid .15em $color-primary;
  font-weight: bold;
  width: 55%;
  padding: 1em;
  border-radius: 2em;
  background-color: white;
  display: block;
  margin: 0 auto 2em;
  color: $color-secondary;
  a{
    width: 13em;
  }
  &:hover {
    background-color: $color-background;
    -moz-transition: background-color .25s, -moz-transform .25s;
    -webkit-transition: background-color .25s, -webkit-transform .25s;
    -o-transition: background-color .25s, -o-transform .25s;
    transition: background-color .25s, transform .25s;
  }
}