@font-face {
  font-family: 'Social-icons';
  src:url('fonts/Social-icons.eot');
  src:url('fonts/Social-icons.eot?#iefix') format('embedded-opentype'),
    url('fonts/Social-icons.woff') format('woff'),
    url('fonts/Social-icons.ttf') format('truetype'),
    url('fonts/Social-icons.svg#Social-icons') format('svg');
  font-weight: normal;
  font-style: normal;
}