footer {
  background-color: $color-primary;
  height: 10em;
  position: relative;
}
.clearfooter {
  height: 220px;
  clear: both;
}
.container {
  min-height: 100%;
  margin-bottom: -100px;
  position: relative;
}
