header {
  border-bottom: solid .25em $color-primary;
  padding: 1em;
  h1 {
    color: $color-primary;
    text-align: center;
  }
  p {
    color: $color-primary;
    text-align: center;
  }
  a{
    color: $color-primary;
  }
}
span {
  color: $color-secondary;
}