.table-headings {
  height: 3.5em;
  background-color: $color-primary;
  color: white;
  font-weight: bold;
}
.table-content {
  box-shadow: -3px 5px 16px #888888;
  tr:nth-child(even) {
    background: $color-tertiary;
  }
  width: 100%;
  background-color: #FFF;
  p{
    color: $color-secondary;
  }
  a {
    color: $color-secondary;
    text-decoration: none;
  }
}
.chart rect {
  stroke: white;
  fill: $color-secondary;
}
.solo-table {
  th{
    border-radius: 1em 1em 0 0;
  }
}
.icon-table, .icon-bars {
  font-family: 'Social-icons';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
}
.icon-table:before {
  content: "\e002";
}
.icon-bars:before {
  content: "\e000";
}
table{
  border-radius: 1em;
}
.norm-table{
  table tr:first-child td:first-child {
    border-radius: 0 0 0 1em;
  }
  table tr:first-child td:first-child {
    border-radius: 0 0 1em 0;
  }
  tr:last-child td:first-child {
    border-radius: 0 0 0 1em;
  }
  tr:last-child td:last-child {
    border-radius: 0 0 1em 0;
  }
  th:first-child {
    border-radius: 1em 0 0 0;
  }
  th:last-child {
    border-radius: 0 1em 0 0;
  }
}
table td {
  font-weight: normal;
}