<section class ="stats-column selection-column box-shadow">
 <%= link_to "North America", '/NA', :method => "get", :class => "button-main" %>
  <ul> 
    <li><a href="/NA/teams">Teams</a></li> 
    <li><a href="/NA/lcs">LCS Standings</a></li> 
  </ul> 
</section>
<section class ="stats-column selection-column box-shadow">
  <%= link_to "Europe", '/EU', :method => "get", :class => "button-main" %>
  <ul> 
    <li><a href="/EU/teams">Teams</a></li> 
    <li><a href="/EU/lcs">LCS Standings</a></li> 
  </ul> 
</section>