<h2>Select a Region</h2>
<section class ="stats-column selection-column box-shadow">
 <%= link_to "North America", '/NA', :method => "get", :class => "button-main" %>
  <svg width="200" height="200">
    <rect x="0" y="0" width="200" height="200" fill="white" ></rect>
  </svg>
</section>
<section class ="stats-column selection-column box-shadow">
  <%= link_to "Europe", '/EU', :method => "get", :class => "button-main" %>
  <svg width="200" height="200">
    <rect x="0" y="0" width="200" height="200" fill="white" ></rect>
  </svg>
</section>