<h2>LCS Standings</h2>
<section class="main-content">
  <table class="table-content">
    <tbody>
    <tr class="table-headings">
      <th>Team</th>
      <th>Wins</th>
      <th>Losses</th>
    </tr>
    <% @lcs.each do |lcs| %>
      <tr>
        <td><%= link_to lcs.name, lcs.name%></td>
        <td><%= lcs.wins %></td>
        <td><%= lcs.losses %></td>
      </tr>
    <% end %>
  </tbody>
  </table>
</section>
