<h2>Player: <span><%= @player %></span><h2>
<section class="stats-column column-2">
  <table class="table-content">
    <tbody>
      <h3>KDA</h3>
      <% @player_stats.each do |p_stat| %>
      <tr class="table-headings">
        <th>Stat</th>
        <th>Value</th>
      </tr>
      <tr>
        <td>Kills</td>
        <td><%=p_stat.kills%></td>
      </tr>
      <tr>
        <td>Deaths</td>
        <td><%=p_stat.deaths%></td>
      </tr>
      <tr>
        <td>Assists</td>
        <td><%=p_stat.assists%></td>
      </tr>
      <% end %>
    </tbody>
  </table>
</section>
<section class="stats-column column-2">
  <h3>Graph</h3>
</section>

