<h2>Teams</h2>
<section class="main-content">
  <table class="table-content">
    <tbody>
      <tr class="table-headings">
        <th><h3>Team</h3></th>
      </tr>
      <% @team.each do |team| %>
        <tr>
          <td>
            <p><%= link_to team.name, team.name%></p>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</section>