<h2>Teams</h2>
<section class="main-content">
  <table class="table-content">
    <tbody>
      <tr class="table-headings">
        <th>Team</th>
      </tr>
      <% @team.each do |team| %>
        <tr>
          <td><%= link_to team.name, team.name%></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</section>