<h2><%= @t_name %></h2>
<section class="stats-column column-2 box-shadow">
  <h3>Roster</h3>
  <table class="table-content">
    <tbody>
      <tr class="table-headings">
        <th>Player Name</th>
        <th>Player Role</th>
      </tr>
    <% @roster.each do |player| %>
      <tr>
        <td><p><%= link_to player.p_name, "#{params[:team]}/#{player.p_name}" %></p></td>
        <td><p><%= player.role %></p></td>
      </tr>
    <% end %>
    </tbody>
  </table>
</section>
<section class="stats-column column-2 box-shadow">
  <h3>Stats</h3>
</section>