<table class="table-content norm-table">
  <tr>
    <th>Player Name</th>
    <th>Player Role</th>
  </tr>
  <% @players.each do |player| %>
    <tr>
      <td><%= link_to player.p_name, "#{params[:team]}/#{player.p_name}" %></td>
      <td><%= player.role %></td>
    </tr>
  <% end %>
</table>