<h2>Player: <span><%= @player %></span><h2>
<section class="stats-column column-2 box-shadow">
  <table class="table-content norm-table">
      <h3>K/D/A</h3>
      <% @player_stats.each do |p_stat| %>
      <tr class="table-headings">
        <th>Stat</th>
        <th>Value</th>
      </tr>
      <tr>
        <td>Kills</td>
        <td><%=p_stat.kills%></td>
      </tr>
      <tr>
        <td>Deaths</td>
        <td><%=p_stat.deaths%></td>
      </tr>
      <tr>
        <td>Assists</td>
        <td><%=p_stat.assists%></td>
      </tr>
      <% end %>
  </table>
</section>
<section class="stats-column column-2 box-shadow" id="player-graph">
  <h3>Graph</h3>
  <script type="text/javascript">
    var data = [5, 2, 3];
    var chart = d3.select("#player-graph").append("svg")
      .attr("class", "chart")
      .attr("width", 300)
      .attr("height", 20 * data.length);

    var x = d3.scale.linear()
      .domain([0, d3.max(data)])
      .range ([0, 300]);

    chart.selectAll("rect")
        .data(data)
      .enter().append("rect")
        .attr("y", function(d, i) {return i * 20; })
        .attr("width", x)
        .attr("height", 20);

    var y = d3.scale.ordinal()
      .domain(data)
      .rangeBands([0, 120]);

    chart.select

  </script>

</section>