<h2>Region: <%= @region %></h2>
<section class="stats-column selection-column box-shadow">
  <%= link_to "Teams", {:controller => :stat, :action => "teams"}, :class => "button-main" %>
  <svg width="200" height="200">
    <rect x="0" y="0" width="200" height="200" fill="white" ></rect>
  </svg>
</section>
<section class="stats-column selection-column box-shadow">
  <%= link_to "LCS Standings", {:controller => :stat, :action => "lcs"}, :class => "button-main" %>
  <svg width="200" height="200">
    <rect x="0" y="0" width="200" height="200" fill="white" ></rect>
  </svg>
</section>
