<footer> 
  <section class='footer-content'> 
    <h3>Info</h3>
      <ul>
        <li><a href="/about">About</a></h3></li>
      </ul>
  </section> 
  <section class='footer-content'> 
    <h3>Teams</h3> 
    <ul> 
      <li><a href="/NA/teams">NA Teams</a></li> 
      <li><a href="/EU/teams">EU Teams</a></li> 
    </ul> 
  </section> 
  <section class='footer-content'> 
    <h3>Standings</h3> 
    <ul> 
      <li><a href="/NA/lcs">NA LCS</a></li> 
      <li><a href="/NA/lcs">EU LCS</a></li> 
    </ul> 
  </section> 
</footer> 