/* line 1, ../../../app/assets/stylesheets/scss/footer.css.scss */
footer {
  background-image: url("bg.png");
  position: relative;
  text-align: center;
}
/* line 5, ../../../app/assets/stylesheets/scss/footer.css.scss */
footer h3 {
  color: white;
}

/* line 9, ../../../app/assets/stylesheets/scss/footer.css.scss */
.clearfooter {
  height: 300px;
  clear: both;
}

/* line 13, ../../../app/assets/stylesheets/scss/footer.css.scss */
.container {
  min-height: 100%;
  margin-bottom: -100px;
  position: relative;
}

/* line 18, ../../../app/assets/stylesheets/scss/footer.css.scss */
.footer-content {
  width: 30%;
  display: inline-block;
  padding: 1%;
}
