/* line 1, ../../../app/assets/stylesheets/scss/menu.css.scss */
.menu-select {
  border-radius: 2em;
  text-align: center;
  display: block;
  height: 15em;
}

/* line 7, ../../../app/assets/stylesheets/scss/menu.css.scss */
.ul-inline {
  display: inline-block;
}
