<section class="box-shadow about-content">
  <p>League Stat is a simple and quick way to find LCS statistics for League of Legends. Easily browse LCS standings, team schedules, match statistics and player statistics for both European and North American leagues. All in an easy-to-read presentation.</p>
</section>